.special-offer {
  min-height: 750px;

  &-left {
    border-radius: 0.5rem;
    background-image: url("../../assets/spacial-offer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .special-offer-left-content {
      margin-top: 1.5rem;
      padding: 0.85rem;
      h6 {
        font-size: 0.6875rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #0070dc;
      }
      h3 {
        font-size: 1.875rem;
        font-weight: 300;
        margin-bottom: 0.5rem;
        line-height: 1.2;
        strong {
          font-size: 2.125rem;
          font-weight: 600;
          display: block;
        }
      }
      p {
        margin-bottom: 1rem;
        font-size: 0.8125rem;
      }

      .special-offer-left-btn {
        border-radius: 3.4375rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        font-weight: 600;
        font-size: 0.75rem;
        height: 2rem;
      }
    }
  }

  &-right {
    .special-offer-products-container {
      height: 50%;
      padding: 1rem;

      .special-offer-product-preview {
        border: 1px solid transparent;
        border-radius: 0.5rem;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        &:hover {
          border: 1px solid #e8e8e8;
          box-shadow: 0 0 0.4rem rgba($color: #000000, $alpha: 0.2);
          .product-title {
            color: #0070dc;
          }
        }

        .product-wrapper-content {
          .product-title {
            font-size: 0.875rem;
            font-weight: 500;
            letter-spacing: -0.07px;
            line-height: 1.4;
            margin-bottom: 0.3rem;
            &:hover {
              text-decoration: underline;
            }
            .product-title-link {
              color: inherit;
            }
          }
          .product-rating {
            color: #ffc21f;
            font-size: 1.2rem;
          }
          .product-price {
            margin-bottom: 0.625rem;
            font-size: 1.375rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            ins {
              display: block;
              text-decoration: none;
              color: #ef262c;
              margin-top: -8px;
            }
            del {
              font-size: 75%;
            }
          }
          .product-meta {
            font-size: 0.75rem;
          }
          .add-to-cart-btn {
            border: 1px solid #00a046;
            color: #00a046;
            &:hover {
              background: #00a046;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
