.special-offer {
//   background: wheat;
  height: 825px;
  &-left {
    border: 2px solid #f52;
    border-radius: 0.5rem;
    padding: 1rem;
  }
  &-right {
    .special-offer-products-container {
        height: 50%;
      .special-offer-product-preview {
        border: 1px solid black;
      }
    }
  }
}
